*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    text-align: center;   
    color: blue;
    margin-top: 50px;
    font-size: 3rem;
    margin-bottom: 50px;
}
.form{
    display: flex;
width: 1200px;
align-items: center;
text-align: center;
padding: 10px 90px;
margin-left: 200px;
gap: 40px;
font-size: 2rem;
font-weight: bold;
}
.name{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 3px solid rgb(4, 144, 165);
    border-radius: 15px;
    padding: 7px 10px;
    background-color: rgb(130, 245, 22);
}
.btn {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(27, 228, 242);
    box-shadow: 5px 5px 5px 1px;
}
.btn:hover {
    background-color: #1e5ef3;
    color: white;
}
.btn:active{
    background-color: rgb(114, 255, 234);
}

.select {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 12px;
    border: 2px solid black;
    color: green;
    border-radius: 15px;
    margin-left: 380px;
}
.price{
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    background-color: rgb(153, 153, 242);
    width: 1200px;
    text-align: center;
    align-items: center;
    margin-left: 150px;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 60px;
}